%
% my $server_address1 = RT->Config->Get('server_address');
% my $port1 = RT->Config->Get('port');
% my $bind_service1 = RT->Config->Get('subscriptionsInbox_path');
% my $binding_server1 = $server_address1 . ":" . $port1 . $bind_service1;
% RT->Logger->info("Los datos con los que va a hacer la conexion son: $binding_server1");
% my $authorization1 = RT->Config->Get('authorization');

% my $bind_browser1 = LWP::UserAgent->new;
% my $req_bind1 = HTTP::Request->new(GET => $binding_server1);
% $req_bind1->header('Authorization' => $authorization1);

% my $resp_bind1 = $bind_browser1->request($req_bind1);

<& /Elements/Header, Title => $title &>
<& /Elements/Tabs &>

<form method="post" action="EnvioInfo.html">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr width="50%">
			<td>
				<span class="label"><&|/l&>Inbox Service</&>:<br /></span>
			</td>
			<td style="width: 90%">
				<select name="inbox_information" rows="5" cols="60">
					<option value selected="selected">(no value)</option>

% if ($resp_bind1->is_success){
%        my $list_content1 = $resp_bind1->decoded_content;
%        RT->Logger->info("La respuesta fue: $list_content1");
%        my $decoded1 = decode_json($list_content1);
%	 my @bind_content1 = @{ $decoded1->{'items'}};
% 	 foreach my $item ( @bind_content1 ) {
		<option value="<% $item->{'id'} %>"><% $item->{'data_feed_name'} . "-" . $item->{'address'} %></option>
%	}
%}		
				</select>
			</td>
		</tr>
	</table>
<div class="botones_taxii">
	<& /Elements/Submit, Label => loc('Record all updates') ,  Reset => 1, ResetLabel => loc('Clear')&>
</div>
</form>
</html>
<%INIT>
use LWP::UserAgent;
use HTTP::Request::Common qw{ POST };
use JSON qw (decode_json);
my $user = $session{'CurrentUser'}->Name;

RT->Logger->info($user); 

my $title = loc("Send Information");

my $server_address = RT->Config->Get('server_address');
my $port = RT->Config->Get('port');
my $authorization = RT->Config->Get('authorization');	
if (my $content = $ARGS{'inbox_information'})  {
	RT->Logger->info('Make the TAXII web services call');
	my $ua = LWP::UserAgent->new;

	my $service = RT->Config->Get('envio_path');

	RT->Logger->info("Connection parameters are: $server_address $port $service");
	my $server = $server_address . ":" . $port . $service;
	$RT::Logger->info("Server endpoint: $server");
	
	my $inbox_id = $ARGS{'inbox_information'};
	
	my $req = POST($server, ['inbox_information' => $inbox_id ]);
	$req->header('Authorization' => $authorization);
	
	my $resp = $ua->request($req);
	if ($resp->is_success) {
		RT::Logger->error("Success");
    		my $message = $resp->decoded_content;
    		RT::Logger->error("Message: $message");
    		RT::Logger->info("Received reply: $message");
	} else {
    		my $code = $resp->code;
    		my $message = $resp->message;
    		RT::Logger->error("Error: $code $message");
    		RT::Logger->info("HTTP POST error code: $resp->code");
    		RT::Logger->info("HTTP POST error message: $resp->message");
	}
}
</%INIT>
